<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
				http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/tx
		        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		        http://www.springframework.org/schema/context
		        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Beans Declaration -->
	<!--<bean id="Account" class="fr.ensicaen.entity.Account"/>
	<bean id="AccountType" class="fr.ensicaen.entity.AccountType"/>
	<bean id="Action" class="fr.ensicaen.entity.Action"/>
	<bean id="Card" class="fr.ensicaen.entity.Card"/>
	<bean id="Client" class="fr.ensicaen.entity.Client"/>
	<bean id="Company" class="fr.ensicaen.entity.Company"/>
	<bean id="Operation" class="fr.ensicaen.entity.Operation"/>
	<bean id="Organization" class="fr.ensicaen.entity.Organization"/>
	<bean id="Person" class="fr.ensicaen.entity.Person"/>
	<bean id="Service" class="fr.ensicaen.entity.Service"/>
	<bean id="Tag" class="fr.ensicaen.entity.Tag"/> -->

	<!-- User Service Declaration -->
	<bean id="accountService" class="fr.ensicaen.service.impl.AccountService">
		<property name="dao" ref="accountDAO" />
	</bean>
	<bean id="accountTypeService" class="fr.ensicaen.service.impl.AccountTypeService">
		<property name="dao" ref="accountTypeDAO" />
	</bean>
	<bean id="actionService" class="fr.ensicaen.service.impl.ActionService">
		<property name="dao" ref="actionDAO" />
	</bean>
	<bean id="cardService" class="fr.ensicaen.service.impl.CardService">
		<property name="dao" ref="cardDAO" />
	</bean>
	<bean id="clientService" class="fr.ensicaen.service.impl.ClientService">
		<property name="dao" ref="clientDAO" />
	</bean>
	<bean id="companyService" class="fr.ensicaen.service.impl.CompanyService">
		<property name="dao" ref="companyDAO" />
	</bean>
	<bean id="operationService" class="fr.ensicaen.service.impl.OperationService">
		<property name="dao" ref="operationDAO" />
	</bean>
	<bean id="organizationService" class="fr.ensicaen.service.impl.OrganizationService">
		<property name="dao" ref="organizationDAO" />
	</bean>
	<bean id="personService" class="fr.ensicaen.service.impl.PersonService">
		<property name="dao" ref="personDAO" />
	</bean>
	<bean id="serviceService" class="fr.ensicaen.service.impl.ServiceService">
		<property name="dao" ref="serviceDAO" />
	</bean>
	<bean id="tagService" class="fr.ensicaen.service.impl.TagService">
		<property name="dao" ref="tagDAO" />
	</bean>


	<!-- User DAO Declaration -->
	<bean id="accountDAO" class="fr.ensicaen.dao.impl.AccountDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="accountTypeDAO" class="fr.ensicaen.dao.impl.AccountTypeDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="actionDAO" class="fr.ensicaen.dao.impl.ActionDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="cardDAO" class="fr.ensicaen.dao.impl.CardDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="clientDAO" class="fr.ensicaen.dao.impl.ClientDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="companyDAO" class="fr.ensicaen.dao.impl.CompanyDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="operationDAO" class="fr.ensicaen.dao.impl.OperationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="organizationDAO" class="fr.ensicaen.dao.impl.OrganizationDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="personDAO" class="fr.ensicaen.dao.impl.PersonDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="serviceDAO" class="fr.ensicaen.dao.impl.ServiceDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="tagDAO" class="fr.ensicaen.dao.impl.TagDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

    <!-- Data Source Declaration -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ensi_new_gab"/>
        <property name="user" value="ensi_new_gab"/>
        <property name="password" value="ensi_new_gab"/>
        <property name="maxPoolSize" value="10"/>
        <property name="maxStatements" value="0"/>
        <property name="minPoolSize" value="5"/>
    </bean>

    <!-- Session Factory Declaration -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="fr.ensicaen.entity"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
            </props>
        </property>
    </bean>

    <!-- Enable the configuration of transactional behavior based on annotations -->
    <tx:annotation-driven transaction-manager="txManager"/>

    <!-- Transaction Manager is defined -->
    <bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>
